<div class="content-wrapper">
  <h2>➕ Ajouter une étape</h2>
  <mat-card>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Ordre</mat-label>
      <input matInput type="number" [(ngModel)]="ordre" />
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Consigne</mat-label>
      <input matInput [(ngModel)]="consigne" />
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Type de validation</mat-label>
      <mat-select
        [(ngModel)]="typeValidation"
        (selectionChange)="onTypeChanged()"
      >
        <mat-option value="PASSPHRASE">Passphrase</mat-option>
        <mat-option value="CACHE">Cache</mat-option>
        <mat-option value="REPERE">Repère</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field
      *ngIf="typeValidation === 'PASSPHRASE'"
      class="full-width"
      appearance="fill"
    >
      <mat-label>Passphrase</mat-label>
      <input matInput [(ngModel)]="passphrase" />
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Prix validation directe</mat-label>
      <input matInput type="number" [(ngModel)]="prixValidationDirecte" />
    </mat-form-field>

    <ng-container *ngIf="typeValidation === 'CACHE'">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Latitude cache</mat-label>
        <input matInput type="number" [(ngModel)]="latitudeCache" />
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Longitude cache</mat-label>
        <input matInput type="number" [(ngModel)]="longitudeCache" />
      </mat-form-field>
      <div id="map" style="height: 300px; margin-bottom: 16px"></div>
    </ng-container>

    <mat-form-field
      *ngIf="typeValidation === 'REPERE'"
      class="full-width"
      appearance="fill"
    >
      <mat-label>Repère RA</mat-label>
      <input matInput [(ngModel)]="repereRa" />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="soumettreEtape()">
      ✅ Ajouter l'étape
    </button>
  </mat-card>
</div>
