<div class="content-wrapper">
  <mat-sidenav-container class="layout-container">
    <mat-sidenav
      #drawer
      [mode]="isSmallScreen ? 'over' : 'side'"
      [opened]="!isSmallScreen"
      (closedStart)="drawerOpened = false"
    >
      <mat-nav-list>
        <ng-container *ngIf="!isLoggedIn()">
          <a mat-list-item routerLink="/login">🔐 Se connecter</a>
          <a mat-list-item routerLink="/register">📝 Créer un compte</a>
        </ng-container>

        <ng-container *ngIf="isLoggedIn() && !isSmallScreen">
          <p class="sidebar-welcome">
            Hello, <strong>{{ pseudo() }}</strong>
          </p>
        </ng-container>

        <ng-container *ngIf="isLoggedIn() && role === 'ADMIN'">
          <a mat-list-item routerLink="/admin/utilisateurs"
            >🛡️ Gérer les utilisateurs</a
          >
        </ng-container>

        <a
          *ngIf="isLoggedIn() && role === 'USER'"
          mat-list-item
          routerLink="/mon-compte"
        >
          👤 Géstion de compte
        </a>

        <a *ngIf="isLoggedIn()" mat-list-item (click)="logout()"
          >🚪 Déconnexion</a
        >

        <ng-container *ngIf="isLoggedIn() && role === 'USER'">
          <h4 class="sidebar-section">🎮 Joueur</h4>
          <a mat-list-item routerLink="/chasses-publiques"
            >🗺️ Chasses publiques</a
          >
          <a mat-list-item routerLink="/mes-participations"
            >🎯 Mes participations</a
          >

          <h4 class="sidebar-section">🛠️ Organisateur</h4>
          <a mat-list-item routerLink="/chasses/nouvelle"
            >➕ Créer une chasse</a
          >
          <a mat-list-item routerLink="/chasses/mes">📚 Mes chasses</a>
        </ng-container>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          *ngIf="isSmallScreen"
          mat-icon-button
          (click)="drawer.toggle()"
          aria-label="Menu"
        >
          <mat-icon>menu</mat-icon>
        </button>

        <span style="margin-left: auto" *ngIf="isLoggedIn()">
          <div style="display: flex; align-self: center" *ngIf="isSmallScreen">
            Hello, <strong>{{ pseudo() }}</strong>
          </div>

          <div *ngIf="role === 'USER'">
            Solde 💰: {{ this.soldeCouronnes() }} couronnes
          </div>
        </span>
      </mat-toolbar>

      <main style="padding: 1rem">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
