.layout-container {
  height: 100vh;
}

mat-sidenav {
  width: 240px;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.sidebar-welcome {
  text-align: center;
  margin: 1rem 0;
}

.sidebar-section {
  margin-left: 8px;
  margin-top: 16px;
}
